.container__read {
    min-height: 100vh;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: rgba(235, 235, 235, 0.8);
}

.divider__read {
    width: 6px;
    left: 25%;
    height: 100vh;
    background-color: #999;
    background: linear-gradient(to right, #bbb, #555);
    position: absolute;
}

.heading--read {
    position: relative;
    font-size: 2.8rem;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
}

.container__read--ingredients {
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    width: 25%;
    position: relative;
}

.p--ingredient {
    font-size: 1.6rem;
    padding-left: 2.4rem;
    letter-spacing: 0.24rem;
    margin: 1.4rem 1rem 0 1rem;
    color: #444;
    display: flex;
    flex-direction: row;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid rgba(34, 34, 34, 0.3);
}

.read--ingredient-col-1 {
    width: calc((100% - 12rem) / 2);
}

.read--ingredient-col-2 {
    width: calc((100%) / 2);
}

.container__instructions {
    padding-top: 12rem;
    display: flex;
    width: 80%;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
}

.instruction__title {
    text-align: center;
    font-size: 2.5rem;
}

.instruction__description {
    text-align: justify;
    margin-bottom: 3rem;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    font-size: 1.6rem;
    white-space: pre-wrap;
}

@media (max-width: 82em) {
    .read--ingredient-col-1 {
        width: calc((100% - 9rem) / 2);
    }
}

@media (max-width: 74em) {
    .read--ingredient-col-1 {
        width: calc((100% - 8rem) / 2);
    }
}

@media (max-width: 64em) {
    .read--ingredient-col-1 {
        width: calc((100% - 6rem) / 2);
    }

    .p--ingredient {
        font-size: 1.4rem;
        padding-left: 1.8rem;
    }

    .heading--ingredients {
        font-size: 2.2rem;
    }

    .divider__read {
        width: 4px;
    }
}

@media (max-width: 56.25em) {
    .container__read {
        flex-direction: column;
    }

    .divider__read {
        width: 0;
        visibility: hidden;
    }

    .p--ingredient {
        margin: 1.4rem 5rem 0 5rem;
    }

    .container__read--ingredients {
        padding-top: 9rem;
        width: 100%;
    }

    .read--ingredient-col-1 {
        text-align: center;
    }

    .read--ingredient-col-2 {
        text-align: center;
    }

    .container__instructions {
        padding-top: 9rem;
        margin-bottom: 6rem;
        left: 50%;
        transform: translate(-50%);
    }

    .instruction__title {
        font-size: 2rem;
    }

    .instruction__description {
        font-size: 1.4rem;
    }
}

@media (max-width: 36.5em) {
    .container__read {
        width: 100vw;
        background-color: rgba(235, 235, 235, 0.5);
    }

    .container__read--ingredients {
        padding-top: 6rem;
    }

    .p--ingredient {
        margin: 1.4rem 4rem 0 4rem;
    }

    .container__instructions {
        padding-top: 6rem;
    }
}
